<!DOCTYPE html>
<html xmlns:th:"http://www.thymeleaf.org">
	<head th:replace="layouts :: header(title='PMA')"></head>
	<body>
		<nav th:replace="layouts :: navbar"></nav>
		<div class="container-sm my-5">
			<h1 class="text-center">Current Projects</h1>
			<div class="w-75 d-flex flex-row mx-auto my-3 ">
				<table class="table table table-striped table-hover align-self-start w-50 ms-auto">
					  <thead>
					    <tr class="table-dark">
					      <th scope="col">Name</th>
					      <th scope="col">State</th>
					    </tr>
					  </thead>
					  <tbody>
						<tr th:each="project: ${projects}">
					      <td th:text="${project.name}">
						  <td th:text="${project.stage}">
						</tr>
					  </tbody>
				</table>
				<div class="col-md-4 w-25">
					<canvas id="myPieChart" class="w-100"></canvas>
				</div>
			</div>
			<h1 class="text-center mt-5">Current Employees</h1>
			<div class="w-75 d-flex flex-column mx-auto">
				<table class="table table-sm table-striped table-hover my-3 w-50 mx-auto">
				  <thead>
				    <tr class="table-dark">
				      <th scope="col">Name</th>
				      <th scope="col">Lastname</th>
				      <th scope="col"># Projects</th>
				    </tr>
				  </thead>
				  <tbody>
					<tr th:each="employee: ${employeesWithCnt}">
				      <td th:text="${employee.firstName}">
					  <td th:text="${employee.lastName}">
					  <td th:text="${employee.projectCount}">
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/myChart.js}"></script>
	</body>
</html>