<!DOCTYPE html>
<html xmlns:th:"http://www.thymeleaf.org">
	<head th:replace="layouts :: header(title='PMA')"></head>
	<body>
		<nav th:replace="layouts :: navbar"></nav>
		<div class="container-sm mt-5">
			<h1 class="text-center">Current Projects</h1>
			<div class="w-50 d-flex flex-column mx-auto">
				<table class="table table-sm table-striped table-hover my-3">
					  <thead>
					    <tr>
					      <th scope="col">Project Name</th>
					      <th scope="col">Project Stage</th>
					    </tr>
					  </thead>
					  <tbody>
						<tr th:each="project: ${projects}">
					      <td th:text="${project.name}">
						  <td th:text="${project.stage}">
						</tr>
					  </tbody>
				</table>
			</div>
			<h1 class="text-center mt-5">Current Employees</h1>
			<div class="w-50 d-flex flex-column mx-auto">
				<table class="table table-sm table-striped table-hover my-3">
				  <thead>
				    <tr>
				      <th scope="col">Employee Name</th>
				      <th scope="col">Employee Lastname</th>
				      <th scope="col">Employee Email</th>
				    </tr>
				  </thead>
				  <tbody>
					<tr th:each="employee: ${employees}">
				      <td th:text="${employee.firstName}">
					  <td th:text="${employee.lastName}">
					  <td th:text="${employee.email}">
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>