<!DOCTYPE html>
<html xmlns:th:"http://www.thymeleaf.org">
	<head th:replace="layouts :: header(title='PMA: Create Project')"></head>
	<body>
		<nav th:replace="layouts :: navbar"></nav>
		<div class="container-sm mt-5">
			<h1 class="text-center">Create Project</h1>
			<form th:object="${project}" action="/projects/save" method="POST" class="w-25 d-flex gap-3 flex-column justify-content-center mx-auto mt-5">
				<input type="text"  th:field="${project.name}"placeholder="Project Name">
				<select  th:field="${project.stage}">
					<option th:value="NOTSTARTED">Not Started</option>
					<option th:value="INPROGRESS">In Progress</option>
					<option th:value="COMPLETED">Completed</option>
				</select>
				<textarea type="text"  th:field="${project.description}" placeholder="Enter Project Description"></textarea>
				<select th:field="*{employees}" multiple="multiple">
					<option 
						th:each="employee : ${employees}"
						th:value="${employee.employeeId}" 
						th:text="${employee.firstName + ' ' + employee.lastName}">
					</option>
				</select>
				<button class="btn btn-primary" type="sumbit">Create Project</button>
			</form>
		</div>
	</body>
</html>